@font-face {
    font-family: "Orbitron";
    src: url("/fonts/Orbitron-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Inter-Medium-500";
    src: url("/fonts/Inter-Medium-500.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Blanka";
    src: url("/fonts/Blanka/Blanka-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Exan-regular";
    src: url("/fonts/Exan-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Equinox";
    src: url("/fonts/Equinox-Typeface/Equinox-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Equinox";
    src: url("/fonts/Aquire.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}